<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>预订服务_韩汀社区</title>
		<link rel="stylesheet" href="Public/css/common.css" />
	</head>
<body>
	<iframe name="topost" id="topost" style="display:none;"></iframe>


	<!--header-->
	<div class="header" id="botop">
			<div class="h_top">
			<div class="b_box">
				<div class="top_nav">
					<a href="/index.php/">首页</a><span class="ht_line"></span><a href="/index.php/Home/Member/seller.html">商家入驻</a><span class="ht_line"></span><a href="/index.php/Home/About/help.html">帮助中心</a><span class="ht_line"></span><a href="/index.php/Home/About/index.html">关于韩汀</a><span class="ht_line"></span><a href="/index.php/Home/About/contact.html">联系我们</a>
				</div>
				<div class="top_right login_right">
					<a href="/index.php/Home/Seller/index.html">透</a>
					<span class="ht_line"></span>
					<a href="/index.php/Home/Member/logout.html">退出</a>
	            	<span class="ht_line"></span>
	            	<a href="/index.php/Home/Member/sms.html"><img src="Public/images/e_i.png" alt=""></a>
				</div>
			</div>
		</div>
	    <div class="b_box nav_header community_header">
			<a href="/index.php/" class="logo logo_community">御品韩汀.社区</a>
			<h1 class="header_h1">预定服务</h1>
		</div>        
	</div>

	<a href="/index.php/Home/About/help.html" class="zy_box">预定流程指引</a>

	<div class="bg_c3 pt1">
		<div class="b_box">
			<h3 class="yd_sev_h3">预定信息</h3>
	        <div class="yd_box">
	        	<table cellpadding="0" cellspacing="0" class="table_d">
	            	<tbody>
	            		<tr>
		                	<td class="yd_t_img"><img src="Uploads/image/2018-09/20180920113713-79629.png" alt="韩语翻译"></td>
		                    <td class="tcel2">
		                    	<div class="yd_xm_title">韩语翻译</div>
		                        <p>韩语翻译</p>
		                        <p><span class="num_1">1</span>
								/每100字						</p>
		                    </td>
							<td class="tcel4">
		                    	<p class="c_2">数量</p>
		                        <p>6</p>
		                    </td>
		                    <td class="tcel6">
		                    	<p class="c_2">小计</p>
		                        <p><span class="num_2">6</span></p>
		                    </td>
		                </tr>
	            	</tbody>
	        	</table>
	        </div>
	        <form id="formbook" method="post" action="/index.php/Home/Service/createorder.html">
		        <div class="yd_info">
					<h3 class="yd_sev_h3">上传文档信息</h3>
		            <div class="fa_part">
		            	<span class="fa_left">资料类别</span>
		                <div class="fa_right">
		                    <select class="sel_zylb" name="filetype" id="filetype">
		                        <option value="">请选择资料类别</option>
								<option value="23">留学资料</option><option value="21">复习资料</option><option value="63">学术论文</option><option value="22">备考资料</option><option value="52">其它资料</option>                    
		                    </select>
		                </div>
		            </div>
		            <div class="fa_part">
		            	<span class="fa_left">文档上传</span>
		                <div class="fa_right">
							<input type="hidden" name="files1" id="files1">
		                	<a href="javascript:void(0);" class="sel_file_a" id="filebt">上传文件</a>
							<span class="f12 line20_t">翻译很辛苦，请尽量字数勿超过下单总份数×100(因为价格是以每100字为单位哦)。 <br>上传文件请勿超过25<span class="zmdx">M</span>。<br>支持文件格式: txt, pdf, word, ppt, excel, hwp, zip, rar.</span>
							<div id="picss">
								<span>20181007023115-30437.pdf ：0.045M　</span>
							</div>
		                </div>
		            </div>			
		            <div class="fa_part">
		            	<p>备注留言</p>
		                <textarea class="text_area_fa" name="note"></textarea>
		            </div>
		        </div>
				<input type="hidden" name="aid" value="571">
				<input type="hidden" name="dates" value="">
				<input type="hidden" name="num" value="6">
				<input type="hidden" id="userid" value="312">
		        <div class="fa_xz">
		        	<div class="fa_zf_r">需要支付<span class="jy_num">6</span><a href="javascript:void(0);" class="btn_jy_a f22">提交预定</a></div>
		        	<a href="/index.php/Home/About/trading.html" target="_blank" class="jyxz_btn">交易须知</a>
		        </div>
				<input type="hidden" name="__hash__" value="eb275a92874f89a205c1df4a915559b0_a3afe72cfad213a4b3f2d4ab03ba3264">
		    </form>
		</div>
	</div>

<!--footer-->
<div class="footer community_footer_dl">
	<dl class="footer_dl">
		<dt>
		<div class="footer_ewm_box"><img src="Public/images/footer_ewm.png" alt=""></div>
			<span class="ft_ewm_name">御品韩汀</span>
		</dt>
		<dd>
			<p class="flink"><a href="/index.php/Home/Member/seller.html">商家入驻</a>|<a href="/index.php/Home/About/help.html">帮助中心</a>|<a href="/index.php/Home/About/index/key/jobs.html">人才招聘</a>|<a href="/index.php/Home/About/contact.html">联系我们</a>|<a href="/index.php/Home/About/sitemap.html">网站地图</a>|<a href="/index.php/Home/About/terms.html">使用条款</a></p>
			<p>湘ICP备16017200号-2 | 地址：湖南省株洲市天元区丽景滨江二栋2502号 |网站负责人：夏先生 |   邮编：412000</p>

			<p>官方QQ：3119683838 | 微信公众号：御品韩汀 | 官网邮箱：3119683838@qq.com | 官方热线电话：0731-2286-7673</p>

			<p>Copyright © 2017 - 2018 yphting.com 版权所有</p>		</dd>
	</dl>
</div>
<!--footer end-->

<!--right nav-->
<ul class="right_nav">
	<li><a href="javascript:void(0);" class="rn_tel">客服电话</a><div class="over_show kf_tel" style="display: none;">0731-2286-7673</div></li>
	<li><a href="javascript:void(0);" class="rn_wx">官方微信</a><div class="over_show" style="display: none;"><img src="Public/images/r_ewm.jpg" alt="" class="gw_ewm"></div></li>
	<li><a href="tencent://Message/?Uin=3119683838&amp;websiteName=http://yphting.zglxkj.com=&amp;Menu=yes" class="rn_kf">在线客服</a></li>
	<li><a href="#" class="rn_top" style="display: none;">Back top</a></li>
</ul>



</body>
	<script type="text/javascript " src="Public/js/jquery-1.8.3.min.js "></script>
	<script>
		jQuery(".right_nav li a.rn_tel, a.rn_wx").hover(function(){
			jQuery(this).next().show(300);
		},function(){
			jQuery(this).next().hide();
		})
		jQuery(window).scroll(function() {
			if(jQuery(window).scrollTop() >= 500) {
				jQuery(".rn_top").fadeIn(300);
			} else {
				jQuery(".rn_top").fadeOut(300);
			}
		})
		jQuery(".rn_top").click(function() {
			$('body,html').animate({
				scrollTop: 0
			}, 500);
		});
	</script>

</html>